# =========================
# Data (do not track datasets)
# =========================
data/raw/**
data/processed/**
data/external/**

# Keep README files inside data folders
!data/**/README.md

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Virtual environments
# =========================
venv/
.env/
.env
.env.*
.venv/
__pycache__/
.ipynb_checkpoints/

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
